#user_name {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #5476FB;
}

nav, .btn-primary{
    background-color: #5476FB;
}
  
.btn-primary:hover{
    background-color: #2f59ff;
}

.btn-primary::after{
    background-color: #2f59ff;
}

.img-label{
    text-align: center;
    margin-top: 5px;
}

body{
    background:url(../img/backgroundImage.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
    align-content: space-around;
    justify-content: space-between;
    
}

#view_requests, #find_tutors, #view_schedule, #manage_matches {
    display:inline-flex;
    /* flex-direction: column; */
    border-radius: 25px;
    background: #5476FB;
    padding: 25px;
    width: 300px;
    height: 200px;
    box-shadow: 0 20px 20px -17px rgb(84, 118, 251);
    transition: .5s;
    justify-content: center;
}

.dot {
    background-color: red;
    height: 2rem;
    width: 2rem;
    background-color: red;
    border-radius: 50%;
    position:relative;
    top: -30px;
    right: -40px;
    /* top: -24px !important; */
  }
#view_requests:hover, #find_tutors:hover, #view_schedule:hover, #manage_matches:hover, #messages:hover, #donate:hover, #settings:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .5s;
}

#messages, #donate, #settings {
    display: flex;
    border-radius: 25px;
    background: #E1BA1D;
    padding: 25px;
    width: 300px;
    height: 200px;
    margin-top:50px;
    box-shadow: 0 20px 20px -17px rgb(225, 186, 29);
    transition: .5s;
    justify-content: center;
}

.img-fluid {
    max-height: 90%;
    max-width: 90%;
    display: block;
    margin: 0 auto;
}

.account_options {
    color: black;
    text-decoration: none;
    transition: .25s; 
}

.account_options:hover {
    /* color: white; */
    text-decoration: none; 
    transition: .25s;
    filter: brightness(0) invert(1);
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 7rem;    /* Footer height */
  }
  
#footer {
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  html {
    scroll-behavior: smooth;
  }
  
  .dotNav{
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    top: -30px !important;
    position: relative;
    float: right;
    display:list-item;
  }