.scheduler {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(25, 1fr);
    gap: 0px 0px;
    grid-template-areas:
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . ."
        ". . . . . . .";
}

.scheduler_item {
    border:0.5px solid gray;
    background-color: #ff9194;
    display: inline-grid;
    place-items: center;

}

.scheduler_item_review {
    border:0.5px solid gray;
    background-color: #ff9194;
    display: inline-grid;
    place-items: center;
}

.scheduler_item_view {
    border:0.5px solid gray;
    background-color: #ff9194;
    display: inline-grid;
    place-items: center;
}

.scheduler_item:hover {
    background-color: #82c291c5;
}

.scheduler_item_selected {
    border:0.5px solid gray;
    background-color: #A7FBBB;
    display: inline-grid;
    place-items: center;
}

.scheduler_item_review_selected {
    border:0.5px solid gray;
    background-color: #A7FBBB;
    display: inline-grid;
    place-items: center;
}

.scheduler_item_view_selected {
    border:0.5px solid gray;
    background-color: #A7FBBB;
    display: inline-grid;
    place-items: center;
}

.scheduler_item_selected:hover {
    background-color: #82c291c5;
}

.scheduler_item_accepted_session {
    border:0.5px solid gray;
    background-color: #5271FF;
    display: inline-grid;
    place-items: center;
}

.scheduler_item_awaiting_session {
    border:0.5px solid gray;
    background-color: #FADF71;
    display: inline-grid;
    place-items: center;
}

.not_available {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ff9194;
    left: 5px;
    top: 5px;
}

.available {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #A7FBBB;
    left: 5px;
    top: 5px;
}

.pending_session {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #FADF71;
    left: 5px;
    top: 5px;

}

.accepted_session {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #5271FF;
    left: 5px;
    top: 5px;

}


